{% block fos_user_content %}
    <link href="{{ asset('assets/login.css') }}" rel="stylesheet"/>
    <div class="form-content">
        <form class="form" action="{{ path("fos_user_security_check") }}" method="post">
            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
            {% endif %}

            <label for="username">Username</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Username" required="required"/>

            <label for="password">Password</label>
            <input type="password" id="password" name="_password" placeholder="Password" required="required"/>

            <input type="submit" id="_submit" name="_submit" value="Login"/>
        </form>
        {% if error %}
            <div class="error-message">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
    </div>
{% endblock fos_user_content %}
